@using System
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/MySite.min.css" type="text/css" />
	<meta name="description" content="HA4IOT by Christian Kratky" />
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="kopf" class="header">
				<nav id="navigation" class="navbar navbar-light bg-faded">
					<a class="navbar-brand">HA4IOT</a>
					@Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
					<form class="form-inline pull-xs-right">
						<input class="form-control" type="text" placeholder="Search">
						<button class="btn btn-success-outline" type="submit">Search</button>
					</form>
				</nav>
			</div>
			<div id="teaser" class="container">@RenderSection("teaser", required: false)</div>
		</div>
		<div id="trenner" class="container"></div>
		<section id="body" class="container">
			@RenderBody()
		</section>
		<section id="footer" class="container">
			<div class="row">
				<div class="col-lg-3 col-md-offset-9">
					<h5>Folge mir auf:</h5>
					<ul class="list-inline">
						<li>
							<a href="https://twitter.com/chkratky" title="Twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span> Twitter</a>
						</li>
						<li>
							<a href="#" title="Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span> Facebook</a>
						</li>
						<li>
							<a href="#" title="GitHub"><span class="fa fa-git-square" aria-hidden="true"></span> GitHub</a>
						</li>
						<li>
							<a href="https://www.xing.com/profile/Christian_Kratky" title="Xing"><span class="fa fa-xing-square" aria-hidden="true"></span> Xing</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>copyright by christian kratky @DateTime.Now.Year</p>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
<script src="~/scripts/bootstrap.min.js" language="javascript"></script>