@using System
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/_bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/MySite.min.css" type="text/css" />
	<link rel="stylesheet" href="~/Content/lightbox.css" type="text/css"/>
	<meta name="description" content="HA4IoT by Christian Kratky" />
</head>
<body>
	<div id="page">
		<div id="header">
			<div class="header container">
				<div class="row">
					<nav id="navigation" class="navbar navbar-default">
						<a class="navbar-brand">HA4IoT</a>
						@Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
					</nav>
				</div>
			</div>
			<div id="teaser" class="container">
				@RenderSection("teaser", required: false)
			</div>
		</div>
		<div class="separator container"></div>
		<section id="body" class="container">
			@RenderBody()
		</section>
		<div class="separator container"></div>
		<section id="footer" class="container">
			<div class="row">
				<div class="col-lg-3 col-md-offset-9">
					<h5>Follow me and get latest updates:</h5>
					<ul class="list-unstyled">
						<li>
							<a href="https://twitter.com/chkratky" title="Twitter"><span class="fa fa-twitter-square" aria-hidden="true"></span> Twitter</a>
						</li>
						<li>
							<a href="#" title="Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span> Facebook</a>
						</li>
						<li>
							<a href="#" title="GitHub"><span class="fa fa-git-square" aria-hidden="true"></span> GitHub</a>
						</li>
						<li>
							<a href="https://www.xing.com/profile/Christian_Kratky" title="Xing"><span class="fa fa-xing-square" aria-hidden="true"></span> Xing</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>(c) Christian Kratky @DateTime.Now.Year</p>
				</div>
			</div>
		</section>
	</div>
	<script src="~/Scripts/jquery-2.2.4.min.js"></script>
	<script src="~/Scripts/lightbox-2.6.min.js"></script>
</body>
</html>